body {
	font-family: "Arial", sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
}

.header {
	background: #fff;
	width: 100%;
	height: 60px;
	z-index: 1041;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	-webkit-box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.3);
	box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.3);
	padding: 0 24px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	margin-top: 10px;
}

.logo-header {}

.actions {
	margin: 15px 100px 0 0;
}

.text-login {
	font-weight: 600;
	color: black;
}

.text-login:hover {
	color: #ff6a27;
}

.btn {
	width: fit-content;
	padding: 0px 15px;
	text-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0);
	text-decoration: none;
	border-radius: 8px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.1s linear;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	min-height: 32px;
	color: #fff;
	background-color: #f27b44;
}

.btn:hover {
	background-color: #fa4f0b;
}

.btn-signup {
	margin-left: 20px;
}