.modal {
	display: none;
	align-items: center;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.47);
	top: 0;
	left: 0;
	overflow: auto;
}

.modal .modal-content {
	position: relative;
	margin: 20px auto;
	width: 50%;
	border-radius: 10px;
	background: white;
	padding: 30px 0;
	animation-name: zoom;
	animation-duration: .7s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	border: 1px solid #b7b7b7;
	box-shadow: 1px 1px 8px rgb(118 171 219/ 80%);
}

@keyframes zoom {
	from {transform: scale(0);
}

to {
	transform: scale(1);
}

}
.modal-content .close {
	position: absolute;
	right: 16px;
	top: 5px;
	font-size: 25px;
	font-weight: bolder;
	cursor: pointer
}

.title {
	color: #73879C;
	text-align: center;
	position: relative;
	width: 30%;
	margin: auto;
	text-align: center;
}

.title:before {
	content: "";
	height: 1px;
	left: 10px;
	top: 19px;
	width: 20%;
	position: absolute;
	background: #7e7e7e;
}

.title:after {
	content: "";
	height: 1px;
	right: 10px;
	top: 19px;
	width: 20%;
	position: absolute;
	background: #7e7e7e;
}

.content {
	margin: auto;
}

.content .form-group label {
	width: 15%;
}

.content .form-group input {
	min-width: 50%;
	height: 23px;
	padding: 5px 9px;
	border: 1px solid black;
	border-radius: 3px;
}

.content .form-group input:focus {
	box-shadow: 0 0 2px #A97AAD inset;
	background-color: #fff;
	border: 1px solid #A878AF;
	outline: 0;
}

.content .form-group {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.content .row {
	margin-top: 15px;
}

.content .btn-group {
	text-align: center;
}

.content .btn-group button {
	border-radius: 3px;
	border: 1px solid black;
	padding: 4px 10px;
	color: #73879C;
	margin-right: 14px;
	width: 66px;
}